html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    background: #000;
}

#stage {
    position: fixed;

    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

#forge {
    position: absolute;

    left: 50%;
    top: 50%;

    width: 1536px;
    height: 1024px;

    transform-origin: center center;
}

#background {
    position: absolute;

    left: 0;
    top: 0;

    width: 1536px;
    height: 1024px;

    display: block;
}
